@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.button{
    width: 30%;
    outline: 0;
    border: 0;
    display: block;
    border-radius: 3px;
    min-height: 40px;
    box-sizing: border-box;
    padding: 5px;
    margin: auto;
    margin-top: 35px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.8s ease;
    background-color: #5244F0;
    color: white;
    cursor: pointer;
    &:hover{
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    }
    &_wait{
        width: 30%;
        outline: 0;
        border: 0;
        display: block;
        background-color: #5244F0;
        border-radius: 3px;
        height: 40px;
        box-sizing: border-box;
        margin: auto;
        margin-top: 35px;
        cursor: wait;
    }
    &_spin {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        margin: auto;
        border: 3px solid white;
        border-color: transparent white transparent white;
        animation: spin 0.8s linear infinite;
    }

    @keyframes spin {
        100% { transform: rotate(360deg) }
    }
}